.quarto
__output

.Rproj.user
.Rhistory

c
*_files
folien.html
aufgaben.html

w-*/*.html
w-*/*.pdf
w-test

/.quarto/
DWDdata

**/*.quarto_ipynb
w-tipps-und-tricks/folien/daten/test.RData
w-zeitreihen/folien/daten/d_wind_raw.RData
